.open-sans {
  font-family: "Open Sans";
  font-weight: 300;
  font-size: 20px;
  font-style: italic;
  line-height: 30px;
}

.strike {
  text-decoration: line-through;
}

.uppercase {
  text-transform: uppercase;
  text-align: center;
}

.distance-words {
  word-spacing: 30px;
  text-shadow: 2px 2px 2px #349d;
  text-decoration: overline wavy;

}

.distance-letter {
  text-decoration: underline double;
  letter-spacing: 5px;
}