.modal {
  position: fixed;
  inset: 0;
  background: #0000005f;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 12;

  opacity: 0;
  visibility: hidden;
  transition: all 0.6s;
}

.modal--opened .modal {
  opacity: 1;
  visibility: visible;
}

.modal__window {
  background: var(--general-bg);
  border-radius: var(--border-radius);
  max-width: 428px;
  padding: 0 60px 60px;
  position: relative;
}

.modal__img {
  margin: -65px 0 15px 12px;
}

.modal__cancel {
  position: absolute;
  top: 20px;
  right: 20px;
  cursor: pointer;
}

.modal__cancel path,
.modal__cancel rect {
  transition: var(--transition);
}

.modal__cancel:hover path,
.modal__cancel:hover rect {
  stroke: #ac907a;
}

.modal__title {
  font-family: "Gabriola";
  font-size: 42px;
  line-height: .9;
  color: var(--title-color);
  margin-bottom: 10px;
}

.modal__text {
  margin-bottom: 30px;
}